/* update the style for all text on this page */
html {
    font-family: "Libre Franklin", sans-serif;
    font-size: 22px;
    color: #ffffff;
    background-color: #15202b;
}

/* change the heading style */
h1, h2, h3, h4, h5, h6 {
    color: #1da1f2;
    padding: 0px;
    margin: 30px 0px 10px 0px;
    text-shadow: 3px 3px 2px black;
    text-align: center;
}

/* link styling */
a {
    color: skyblue;
}

/* update the paragraph and list styles */
p, li {
    line-height: 1.5;
    letter-spacing: 1px;
    margin: 10px 0px 30px 0px;
    padding: 10px 10px 10px 10px;
    text-shadow: 3px 3px 2px black;
}

/* change the body styling */
body {
    width: 800px;
    margin: 0px auto;
    background-color: #192734;
    padding: 0px 30px 0px 30px;
    border: 5px solid lightgrey;
    border-radius: 10px;
}

/* image styling */
img {
    display: block;
    margin: 0px auto;
    padding: 5px 5px 5px 5px;
    border: 3px solid gray;
    border-radius: 5px;
}

/* style the button */
.button-block {
    width: 50%;
    margin: 0 25%;
    background-color: darkgreen;
    color: white;
    padding: 12px;
    border: 4px solid white;
    border-radius: 50px;
    outline: none;
    transition: background-color 1s;
    font-size: large;
}

/* Hover style for button */
.button-block:hover {
    background-color: orange;
}

/* styling for block of content */
.content-block {
    background-color: #f0f0f0;
    color: #3c3c3c;
    padding: 30px 80px 30px 80px;
    margin: 80px auto 50px auto;
}

/* form styling */
#form-title {
    color: #3c3c3c;
    text-shadow: none;
}

/* form input styling */
input[type=textarea] {
    width: 80%;
    height: 80px;
    margin: 6px;
    padding: 6px;
    box-sizing: border-box;
    outline: none;
}

/* image styling for Kish's pic */
#kishpic {
    width: 140px;
    height: auto;
    border: 5px solid white;
    border-radius: 50%;
}

/* styling of text next to Kish's pic and with his pic */
#column1 {
    margin: 20px;
}

#column2 {
    float: right;
}

/* dotted separator line */
.dotted {
    border:none;
    border-top: 5px dashed #f0f0f0;
    margin: 100px 20% 100px 20%;
}